
/* Commentaire du code ignoré avec slash etoile */

    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
      color: #333;
    }

    header {
      background-color: #4CAF50;
      color: white;
      padding: 10px 0;
      text-align: center;
    }

    .container {
      padding: 20px;
      margin: 20px;
      background-color: white;
      border-radius: 8px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .section {
      margin-bottom: 20px;
    }

    h1,
    h2 {
      margin: 0;
    }

    p {
      font-size: 1.1em;
      line-height: 1.6;
    }

    .highlight {
      font-weight: bold;
    }
  

/* Sélecteur d'élément */
h1 {
    color: red;  /* mettre le niveau de titre 1 en rouge*/
    font-size: 60px;
    text-align: center;
  
}

/* Sélecteur de classe */
.important {
    font-weight: bold;  /*met en gras*/
}

/* Sélecteur d'ID */
#citation {
    padding: 20px;
    color: grey;
}


p {
    background-color: #FBF8F6;

}
